<div id="add-position-modal" class="modal">
    <div id="add-modal-bg" class="modal-background"></div>
    <div class="modal-content">
        <form action="/add-stock" method="post" class="box">
            <div class="field">
              <label class="label">Stock</label>              
              <div class="select">
                <select name="ticker">
                  <option disabled selected>Select a stock</option>
                  <option value="AAPL">AAPL - Apple</option>
                  <option value="AMD">AMD - Advanced Micro Devices, Inc.</option>
                  <option value="AMZN">AMZN - Amazon.com, Inc.</option>
                  <option value="GOOG">GOOG - Alphabet Inc Class C</option>
                  <option value="FB">FB - Meta Platforms Inc</option>
                  <option value="MSFT">MSFT - Microsoft Corporation</option>
                  <option value="NFLX">NFLX - Netflix Inc</option>
                  <option value="TSLA">TSLA - Tesla Motors</option>
                  <option value="TSM">TSM - Taiwan Semiconductor Mfg. Co. Ltd.</option>
                  <option value="NVDA">NVDA - Nvidia Corporation</option>
                  <option value="QQQ">QQQ - Invesco QQQ Trust</option>
                  <option value="SPY">SPY - SPDR S&P500</option>
                </select>
              </div>
            </div>
          
            <div class="field">
              <label class="label">Quantity</label>
              <div class="control">
                <input class="input" type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="quantity" placeholder="Qty">
              </div>
            </div>

            <div class="field">
                <label class="label">Price</label>
                <div class="control">
                  <input class="input" type="number" step="0.001" name="price" placeholder="Stock Price">
                </div>
              </div>

            <div class="field">
              <label class="label">Cost</label>
              <div class="control">
                <p>Current Price$</p>
              </div>
            </div>
            
          
            <div class="field is-grouped">
                <p class="control">
                  <button type="submit" class="button is-primary">
                    Submit
                  </button>
                </p>
                <p class="control">
                  <button type="button" id="cancel-add-btn" class="button is-light">
                    Cancel
                  </button>
                </p>
              </div>
          </form>
    </div>
    <button id="close-add-btn" class="modal-close is-large" aria-label="close"></button>
  </div>

  <div id="sell-position-modal" class="modal">
    <div id="sell-modal-bg" class="modal-background"></div>
    <div class="modal-content">
        <form action="/sell-stock" method="post" class="box">
            <div class="field">
              <label class="label">Ticker/Company</label>
              <div class="select">
                <select name="ticker">
                  <option disabled selected>Select a stock</option>
                  <option value="AAPL">AAPL - Apple</option>
                  <option value="AMD">AMD - Advanced Micro Devices, Inc.</option>
                  <option value="AMZN">AMZN - Amazon.com, Inc.</option>
                  <option value="GOOG">GOOG - Alphabet Inc Class C</option>
                  <option value="FB">FB - Meta Platforms Inc</option>
                  <option value="MSFT">MSFT - Microsoft Corporation</option>
                  <option value="NFLX">NFLX - Netflix Inc</option>
                  <option value="TSLA">TSLA - Tesla Motors</option>
                  <option value="TSM">TSM - Taiwan Semiconductor Mfg. Co. Ltd.</option>
                  <option value="NVDA">NVDA - Nvidia Corporation</option>
                  <option value="QQQ">QQQ - Invesco QQQ Trust</option>
                  <option value="SPY">SPY - SPDR S&P500</option>
                </select>
              </div>
            </div>
          
            <div class="field">
              <label class="label">Quantity</label>
              <div class="control">
                <input class="input" type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="quantity" placeholder="Qty">
              </div>
            </div>

            <div class="field">
                <label class="label">Price</label>
                <div class="control">
                  <input class="input" type="number" step="0.001" name="price" placeholder="Stock Price">
                </div>
              </div>

            <div class="field">
              <label class="label">Proceeds</label>
              <div class="control">
                <p>Proceeds</p>
              </div>
            </div>
            
          
            <div class="field is-grouped">
                <p class="control">
                  <button type="submit" class="button is-danger">
                    Sell
                  </button>
                </p>
                <p class="control">
                  <button type="button" id="cancel-sell-btn" class="button is-light">
                    Cancel
                  </button>
                </p>
              </div>
          </form>
    </div>
    <button id="close-sell-btn" class="modal-close is-large" aria-label="close"></button>
  </div>