<section class="section">
    <div class="columns is-centered">
        <div class="column is-narrow">
            <table id="portfolio" class="table is-hoverable">
                <thead>
                    <tr>
                        <th>INSTRUMENT</th>
                        <th><abbr title="Position">POS</abbr></th>
                        <th><abbr title="Daily Profit/Loss">DAY P/L</abbr></th>
                        <th><abbr title="Daily % Change">D % CHANGE</abbr></th>
                        <th><abbr title="Last Price">LAST</abbr></th>
                        <th><abbr title="Average Entry Price">AVG PRICE</abbr></th>
                        <th><abbr title="Cost Basis">COST BASIS</abbr></th>
                        <th><abbr title="Current Value">VALUE</abbr></th>
                        <th><abbr title="Unrealized Profit/Loss">UNREALIZED</abbr></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><button id="sell-position-button" class="button is-danger">REMOVE</button></th>
                        <th><button id="new-position-button" class="button is-link">ADD POSITION</button></th>
                    </tr>
                </tfoot>
                <tbody id="portfolio-table-body">
                    {% if portfolio %}
                        {% for stock in portfolio %}
                            <tr id="{{ stock.ticker }}">
                                <td class="name-ticker">{{ stock.name }} ({{ stock.ticker }})</td>
                                <td class="quantity">{{ stock.quantity }}</td>
                                <td>todo</td>
                                <td>todo</td>
                                <td class="last-price">{{ '%0.2f' % stock.price|float }}</td>
                                <td class="average-price">{{ '%0.2f' % stock.purchase_price|float }}</td>
                                <td class="cost-basis">{{ '%0.2f' % (stock.purchase_price * stock.quantity)|float }}</td>
                                <td>todo</td>
                                <td>todo</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>Add your positions to get started!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>    
        </div>
    </div>
</section>
        

