alembic==1.7.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
Flask>=2
Flask-Executor==0.10.0
Flask-Login==0.5.0
Flask-Migrate==2.5.2
Flask-Script==2.0.6
flask-sock==0.4.0
Flask-SQLAlchemy==2.4.1
gevent==21.8.0
greenlet==1.1.2
gunicorn==20.0.4
h11==0.12.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
Mako==1.1.5
MarkupSafe==2.0.1
psycopg2-binary==2.8.4
python-dotenv==0.19.1
requests==2.26.0
simple-websocket==0.4.0
six==1.16.0
SQLAlchemy==1.4.26
Turbo-Flask==0.6.1
urllib3==1.26.7
websocket-client==0.57.0
Werkzeug>=2
wsproto==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
