
@media only screen and (max-width: 800px) {
    .quantity, .daily-percent, .average-price, .cost-basis {
        display: none;
    }
    .table {
        margin-left: -2rem;
    }
    .navbar-end {
        margin-right: 10rem;
    }
    .title {
        font-size: larger;
        margin-top: 2rem;
    }
  }


.nav-title {
    font-size: 2rem;
    position: fixed;
    left: 1rem;
    top: 1rem;
}

.navbar-end {
    position: fixed;
    right: 1rem;
    top: 1rem;
}

.table {
    table-layout:fixed;
}
