
@media only screen and (max-width: 800px) {
    .quantity, .daily-percent, .average-price, .cost-basis, .value, .desktop-button {
        display: none;
    }
    .table {
        margin-left: -1rem;
    }

    .title {
        font-size: larger;
        margin-top: 2rem;
    }
  }

.title {
    margin-top: 8rem;
}

.nav-title {
    font-size: 2rem;
    position: fixed;
    left: 1rem;
    top: 1rem;
}

.navbar-end {
    position: fixed;
    right: 1rem;
    top: 1rem;
}

.table {
    table-layout:fixed;
}
