<section class="hero is-primary">
    <div class="hero-head is-fullwidth">
        <nav class="navbar">
            
            <div class="container">
                <h1 class="nav-title">portfolio tracker</h1>
                    <div class="navbar-end">
                        <a href="https://github.com/felixlevert/stock-tracker-app" class="navbar-item">
                            Github
                        </a>
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Logout
                        </a>
                    </div>
                
            </div>
        </nav>
    </div>

    <div class="hero-body is-fullwidth is-centered">
        <div class="container has-text-centered">