<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            
            <div class="container">
                <h1 class="nav-title">portfolio tracker</h1>

                    <div class="navbar-end">
                        <a href="https://github.com/felixlevert/stock-tracker-app" class="navbar-item">
                            Github
                        </a>
                    </div>
                
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">