<div id="add-position-modal" class="modal">
    <div id="add-modal-bg" class="modal-background"></div>
    <div class="modal-content">
        <form action="/add-stock" method="post" class="box">
            <div class="field">
              <label class="label">Stock</label>              
              <div class="select is-primary">
                <select name="ticker" class="select is-multiple">
                  <option disabled selected>Select a stock</option>
                  <option value="AAPL-Apple">AAPL - Apple</option>
                  <option value="ADBE-Adobe">ADBE - Adobe Inc.</option>
                  <option value="AMD-Advanced Micro Devices, Inc.">AMD - Advanced Micro Devices, Inc.</option>
                  <option value="AMZN-Amazon.com, Inc.">AMZN - Amazon.com, Inc.</option>
                  <option value="AVGO-Broadcom">AVGO - Broadcom Inc.</option>
                  <option value="BAC-Bank of America">BAC - Bank of America Corp.</option>
                  <option value="BRK.B-Berkshire Hathaway">BRK.B - Berkshire Hathaway Inc. Class B</option>
                  <option value="CSCO-Cisco Systems">CSCO - Cisco Systems Inc.</option>
                  <option value="CVX-Chevron">CVX - Chevron Corporation</option>
                  <option value="DIS-Walt Disney Co.">DIS - Walt Disney Company</option>
                  <option value="FB-Meta Platforms">FB - Meta Platforms Inc</option>
                  <option value="GOOG-Alphabet">GOOG - Alphabet Inc Class C</option>
                  <option value="HD-Home Depot">HD - Home Depot Inc.</option>
                  <option value="JPM-JPMorgan Chase">JPM - JPMorgan Chase & Co</option>
                  <option value="JNJ- Johnson & Johnson">Johnson & Johnson</option>
                  <option value="MA-Mastercard">MA - Mastercard Incorporated Class A</option>
                  <option value="MSFT-Microsoft">MSFT - Microsoft Corporation</option>
                  <option value="NFLX-Netflix">NFLX - Netflix Inc</option>
                  <option value="NVDA-Nvidia">NVDA - Nvidia Corporation</option>
                  <option value="PFE-Pfizer">PFE - Pfizer Inc.</option>
                  <option value="PG-Proctor & Gamble">PG - Proctor & Gamble Company</option>                  
                  <option value="QQQ-Invesco QQQ Trust">QQQ - Invesco QQQ Trust</option>
                  <option value="SPY-SPDR S&P500">SPY - SPDR S&P500</option>
                  <option value="TMO-Thermo Fisher Scientific">TMO - Thermo Fisher Scientific Inc.</option>
                  <option value="TSLA-Tesla Motors">TSLA - Tesla Motors</option>
                  <option value="TSM-Taiwan Semiconductor Mfg">TSM - Taiwan Semiconductor Mfg. Co. Ltd.</option>
                  <option value="UNH-UnitedHealth Group">UNH - UnitedHealth Group Incorporated</option>
                  <option value="V-Visa">V - Visa Inc. Class A</option>
                  <option value="XOM-Exxon Mobil">XOM - Exxon Mobil Corporation</option>
                </select>
              </div>
            </div>
          
            <div class="field">
              <label class="label">Quantity</label>
              <div class="control">
                <input class="input is-primary" type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="quantity" placeholder="Qty">
              </div>
            </div>

            <div class="field">
                <label class="label">Price</label>
                <div class="control">
                  <input class="input is-primary" type="number" step="0.001" name="price" placeholder="Stock Price">
                </div>
              </div>

            
          
            <div class="field is-grouped">
                <p class="control">
                  <button type="submit" class="button is-primary">
                    Submit
                  </button>
                </p>
                <p class="control">
                  <button type="button" id="cancel-add-btn" class="button is-light">
                    Cancel
                  </button>
                </p>
              </div>
          </form>
    </div>
    <button id="close-add-btn" class="modal-close is-large" aria-label="close"></button>
  </div>

  <div id="sell-position-modal" class="modal">
    <div id="sell-modal-bg" class="modal-background"></div>
    <div class="modal-content">
        <form action="/sell-stock" method="post" class="box">
            <div class="field">
              <label class="label">Ticker/Company</label>
              <div class="select is-primary">
                <select name="ticker">
                  <option disabled selected>Select a stock</option>
                  <option value="AAPL">AAPL - Apple</option>
                  <option value="ADBE">ADBE - Adobe Inc.</option>
                  <option value="AMD">AMD - Advanced Micro Devices, Inc.</option>
                  <option value="AMZN">AMZN - Amazon.com, Inc.</option>
                  <option value="AVGO">AVGO - Broadcom Inc.</option>
                  <option value="BAC">BAC - Bank of America Corp.</option>
                  <option value="BRK.B">BRK.B - Berkshire Hathaway Inc. Class B</option>
                  <option value="CSCO">CSCO - Cisco Systems Inc.</option>
                  <option value="CVX">CVX - Chevron Corporation</option>
                  <option value="DIS">DIS - Walt Disney Company</option>
                  <option value="FB">FB - Meta Platforms Inc</option>
                  <option value="GOOG">GOOG - Alphabet Inc Class C</option>
                  <option value="HD">HD - Home Depot Inc.</option>
                  <option value="JPM">JPM - JPMorgan Chase & Co</option>
                  <option value="JNJ">Johnson & Johnson</option>
                  <option value="MA">MA - Mastercard Incorporated Class A</option>
                  <option value="MSFT">MSFT - Microsoft Corporation</option>
                  <option value="NFLX">NFLX - Netflix Inc</option>
                  <option value="NVDA">NVDA - Nvidia Corporation</option>
                  <option value="PFE">PFE - Pfizer Inc.</option>
                  <option value="PG">PG - Proctor & Gamble Company</option>                  
                  <option value="QQQ">QQQ - Invesco QQQ Trust</option>
                  <option value="SPY">SPY - SPDR S&P500</option>
                  <option value="TMO">TMO - Thermo Fisher Scientific Inc.</option>
                  <option value="TSLA">TSLA - Tesla Motors</option>
                  <option value="TSM">TSM - Taiwan Semiconductor Mfg. Co. Ltd.</option>
                  <option value="UNH">UNH - UnitedHealth Group Incorporated</option>
                  <option value="V">V - Visa Inc. Class A</option>
                  <option value="XOM">XOM - Exxon Mobil Corporation</option>
                </select>
              </div>
            </div>
          
            <div class="field">
              <label class="label">Quantity</label>
              <div class="control">
                <input class="input is-primary" type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="quantity" placeholder="Qty">
              </div>
            </div>

            <div class="field">
                <label class="label">Price</label>
                <div class="control">
                  <input class="input is-primary" type="number" step="0.001" name="price" placeholder="Stock Price">
                </div>
              </div>

            
          
            <div class="field is-grouped">
                <p class="control">
                  <button type="submit" class="button is-danger">
                    Sell
                  </button>
                </p>
                <p class="control">
                  <button type="button" id="cancel-sell-btn" class="button is-light">
                    Cancel
                  </button>
                </p>
              </div>
          </form>
    </div>
    <button id="close-sell-btn" class="modal-close is-large" aria-label="close"></button>
  </div>